@import url("base.css");
@import url("header.css");
@import url("nav.css");
@import url("footer.css");
@import url("boxes.css");
@import url("flip-card.css");
@import url("collapsible.css");
@import url("entries.css");
@import url("filters.css");
@import url('banner.css');

body {
  background-color: var(--color-bg);
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 0 1.5rem;
  overflow-x: hidden;
}