---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>About Me</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="page-banner page-banner--about"></div>

  <header>
    <div class="title-group">
      <h1> About Me</h1>
      <img src="Images/icons/placeholder.png" alt="Placeholder image for about page" class="header-icon">
    </div>
    {% include nav.html %}
  </header>

  <main>
    <div class="about-layout">

        <div class="about-text">
        <h2>Personal Bio!?</h2>
        <div class="text-box">
          <p>Hi! My name is Margaret, and I am a PhD student in Bioengineering at UC Berkeley and UCSF. 
          I am passionate about biomaterials, regenerative medicine, and exploring the intersection of science and art. 
          This website serves as my digital notebook, where I share my research, art, tinkering, and other fun projects.</p>
          <p>Feel free to explore my projects, check out my resume, or just have fun in the Fun Corner!</p>
        </div>

        <div class="about-photos">
        <div class="flip-grid">

            <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="Images/turbo-granny-dandadan.gif" alt="Placeholder photo 1">
                </div>
                <div class="flip-card-back">
                <p>Placeholder caption.</p>
                </div>
            </div>
            </div>

            <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                <img src="Images/turbo-granny-dandadan-hairdryer.gif" alt="Placeholder photo 2">
                </div>
                <div class="flip-card-back">
                <p>Placeholder caption.</p>
                </div>
            </div>
            </div>

            <!-- copy a .flip-card block above to add more photos -->

        </div>
        </div>

    </div>
    </main>

  {% include footer.html %}

</body>
</html>