---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Margaret - Fun Corner</title>
    <link rel="stylesheet" href="css/style.css">
</head>  
<body>
    <div class="page-banner page-banner--fun-corner"></div>
  <header>
    <div class="title-group">
      <h1>Fun Corner</h1>
      <img src="Images/icons/placeholder.png" alt="Placeholder image for fun corner" class="header-icon">
        {% include nav.html %}
    </div>
  </header>
    
    <main> 
        <p>Welcome to the Fun Corner! Here you can see my semi regular posts and updates on popular media or keep up with some of the media I enjoy.</p>
        <div class="filter-bar">
            <button class="filter-btn active" data-filter="all">All</button>
            <button class="filter-btn" data-filter="anime">Anime</button>
            <button class="filter-btn" data-filter="music">Music</button>
            <button class="filter-btn" data-filter="movies">Movies</button>
        </div>

        {% include Fun_Corner/Movies/backrooms.html %}

        


    </main>

    {% include footer.html %}
</body>
</html>