---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Margaret - Fun Corner</title>
    <link rel="stylesheet" href="css/style.css">
</head>  
<body>
    <header>
        <h1>Fun Corner</h1>
        {% include nav.html %}
    </header>
    
    <main> 
        <p>Welcome to the Fun Corner! Here you can see my semi regular posts and updates on popular media or keep up with some of the media I enjoy.</p>
        <div class="filter-bar">
            <button class="filter-btn active" data-filter="all">All</button>
            <button class="filter-btn" data-filter="anime">Anime</button>
            <button class="filter-btn" data-filter="music">Music</button>
            <button class="filter-btn" data-filter="movies">Movies</button>
        </div>

        <div class="entry" data-tags="movies">
            <button class="entry-toggle" aria-expanded="false">
                <span class="entry-title">Backrooms Review</span>
                <span class="entry-date">7/12/2026</span>
                <span class="entry-icon">+</span>
            </button>

            <div class="entry-content">
                <div class="entry-content-inner">
                    <div class="entry-tags">
                        <span class="tag">Movies</span>
                    </div>
                    <p>Backrooms movie was gas. I loved the set design, symbolism of the backrooms as a physical manifestation of unresolved memories.</p>
                    <img src="Images/backrooms.webp" alt="Backrooms Movie" class="entry-image">
                </div>
            </div>
        </div>

        
    </main>

    {% include footer.html %}
</body>
</html>