---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Margaret - Home</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="page-banner page-banner--home"></div>

  <header>
    <div class="title-group">
      <h1 class="title">Margaret's Notebook</h1>
      <img src="Images/icons/placeholder.png" alt="Placeholder image for home page" class="header-icon">
    </div>
    {% include nav.html %}
  </header>

  
  <main>
    <p> Welcome! My name is Margaret. This website is my digital notebook, 
    where I share my research, art, tinkering, and other fun lil projects/side quests. Feel free to contact me below. </p>

    <div class="notebook-boxes">
        <div class="notebook-box">
            <img src="Images/turbo-granny-dandadan.gif" alt="Turbo Granny Dandadan">
        </div>
        <div class="notebook-box">
            <img src="Images/turbo-granny-dandadan-hairdryer.gif" alt="Turbo Dryer">
        </div>
    </div>

  </main>

  {% include footer.html %}


</body>
</html>