---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Margaret - Home</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <header>
    <h1>Margaret's Notebook</h1>
    {% include nav.html %}
  </header>

  
  <main>
    <p> Welcome! My name is Margaret. I am currently pursuing a joint PhD in Bioengineering at UC Berkeley and UCSF, 
    concentrating in biomaterials and regerative models for accelerated healing. When I'm not in the lab, I enjoy 
    creating art, in the gym, and exploring new flavor combinations in the kitchen. This website is my digital notebook, 
    where I share my research, art, tinkering, and other fun lil projects/side quests. Feel free to contact me below. </p>

    <div class="notebook-boxes">
        <div class="notebook-box">
            <img src="Images/turbo-granny-dandadan.gif" alt="Turbo Granny Dandadan">
        </div>
        <div class="notebook-box">
            <img src="Images/turbo-granny-dandadan-hairdryer.gif" alt="Turbo Dryer">
        </div>
    </div>

  </main>

  {% include footer.html %}


</body>
</html>