---
---
<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <title>Margaret - Resume</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="page-banner page-banner--resume"></div>
  <header>
    <div class="title-group">
      <h1 class="title">Margaret's Resume</h1>
      <img src="Images/icons/placeholder.png" alt="Placeholder image for resume page" class="header-icon">
    </div>
      {% include nav.html %}
  </header>

  <main>
    <h2>Interactive Resume</h2>
    <p>Check out my interactive resume! For specific details on research and portfolio specific items, please visit the <a href="projects.html">Projects</a> page.</p>

    {% include Resume/Leadership.html %}

    {% include Resume/Work.html %}

    {% include Resume/Awards_Recognition.html %}

    {% include Resume/Education.html %}
    

    <p> For a one-page resume, please view the <a href="one-page-resume.html">One-Page Resume</a>.</p>
  </main>


  {% include footer.html %}

</body>
</html>