<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <title>Margaret - Resume</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <header>
    <h1>Resume</h1>
    {% include nav.html %}
  </header>

  <main>
    <h2>Interactive Resume</h2>
    <p>Check out my interactive resume! For specific details on research and portfolio specific items, please visit the <a href="projects.html">Projects</a> page.</p>

    <section id="leadership">
      <h3>Leadership</h3>
      <p>Details about leadership experience.</p>
    </section>

    <section id="work">
      <h3>Work Experience</h3>
      <p>Details about work experience.</p>
    </section>

    <section id="awards">
      <h3>Awards and Recognition</h3>
      <p>Details about awards.</p>
    </section>

    <section id="education">
      <h3>Education</h3>
      <p>Details about education.</p>
    </section>

    <p> For a one-page resume, please view the <a href="one-page-resume.html">One-Page Resume</a>.</p>
  </main>


  {% include footer.html %}

</body>
</html>