---
---
<!DOCTYPE html>
<html>
<head> 
    <meta charset="UTF-8">
    <title>Margaret - Resume</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <header>
    <h1>Resume</h1>
    <img src="Images/icons/placeholder.png" alt="Placeholder image for resume page" class="header-icon">
    {% include nav.html %}
  </header>

  <main>
    <h2>Interactive Resume</h2>
    <p>Check out my interactive resume! For specific details on research and portfolio specific items, please visit the <a href="projects.html">Projects</a> page.</p>

    <section id="leadership" class="collapsible-section">
      <h3 class="toggle-trigger" data-toggle-target="#leadership">Leadership</h3>
      <div class="collapsible-content">
        <p>Details about leadership experience.</p>
      </div>
    </section>

    <section id="work" class="collapsible-section">
      <h3 class="toggle-trigger" data-toggle-target="#work">Work Experience</h3>
      <div class="collapsible-content">
        <p>Details about work experience.</p>
      </div>
    </section>

    <section id="awards" class="collapsible-section">
      <h3 class="toggle-trigger" data-toggle-target="#awards">Awards and Recognition</h3>
      <div class="collapsible-content">
        <p>Details about awards.</p>
      </div>
    </section>

    <section id="education" class="collapsible-section">
      <h3 class="toggle-trigger" data-toggle-target="#education">Education</h3>
      <div class="collapsible-content">
        <p>Details about education.</p>
      </div>
    </section>

    <p> For a one-page resume, please view the <a href="one-page-resume.html">One-Page Resume</a>.</p>
  </main>


  {% include footer.html %}

</body>
</html>