<!--Junior Year Independent Work-->
 <div class="entry" data-tags="research">
      <button class="entry-toggle" aria-expanded="false">
        <span class="entry-title">Sophomore Year Independent Work - contribution resulted in co-authored paper.</span>
        <span class="entry-date">5/2024</span>
        <span class="entry-icon">+</span>
      </button>
      <div class="entry-content">
        <div class="entry-content-inner">
          <div class="entry-tags">
            <span class="tag" data-tag="research">research</span>
          </div>

            <p>My Sophomore Year Independent Work, I contributed to the now published research <i>Engineering Cellular Self-Adhesions 
              Inside 3D Printed Micro-Arches to Enhance Cell:Biomaterial Attachment</i>, where we designed 3D micro-tunnels that induced cellular 
              deformation over themselves using their own E-cadherin (“handshake”) proteins. </p>
              
            <p>These “Self-Adhesion Tunnels” (SATs) were arch-shaped structures that let cells wrap underneath and strengthen their attachment, inhibiting migration.
            I proposed the trapezoidal design, which achieved the highest adhesion efficiency (about 93%) by using a wider base that tapers inwards to a 
            sharp edge at the top to promote cellular gripping and wrapping. Furthermore, I contributed to refining the fabrication process of these geometries 
            on the Nanoscribe, optimizing laser parameters for clean, fast prints. </p>
            
            <p>The work showed that purely structural cues, without added chemical coatings, can significantly enhance cell–material attachment, 
              offering new strategies for improving tissue interfaces and implant integration.</p>


            <p>Check out the paper below!</p>

            <a href="https://advanced.onlinelibrary.wiley.com/doi/10.1002/adma.202502425" target="_blank" rel="noopener noreferrer" class="pdf-link">
              <img src="Images/projects_pictures/Research/sy_iw_2024/SAT_red.png" alt="View link to paper" class="entry-image">
            </a>

          <!--JY IW Gallery-->
          <div class="flip-grid">
            <!--first card-->
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="Images/projects_pictures/Research/sy_iw_2024/trapezoid_SEM.png" alt="SEM image of trapezoid SATs.">
                </div>
                <div class="flip-card-back">
                  <p>SEM image of Trapezoid SATs.</p>
                  <a href="Images/projects_pictures/Research/sy_iw_2024/trapezoid_SEM.png" target="_blank" rel="noopener noreferrer" class="view-original">View full image</a>
                </div>
              </div>
            </div>
            
           <!--second card-->
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="Images/projects_pictures/Research/sy_iw_2024/PIV_migration_wall.png" alt="PIV vector field of cell migration approaching the SAT walls.">
                </div>
                <div class="flip-card-back">
                  <p> PIV vector field of cell migration approaching the SAT walls.</p>
                  <a href="Images/projects_pictures/Research/sy_iw_2024/PIV_migration_wall.png" target="_blank" rel="noopener noreferrer" class="view-original">View full image</a>
                </div>
              </div>
            </div>

          

          </div>


        </div>
      </div>
    </div>
