<footer class ="site-footer">
  <div class ="footer-icons">
    <!--email-->
    <a href = "mailto:miaomargaret@gmail.com" class = "icon-link" aria-label="Email"> 
        <img src ="Images/icons/email.webp" alt = "Email Icon"> 
    </a>
    <!--Linkedin-->
    <a href = "https://www.linkedin.com/in/margaret-miao-520685211" class = "icon-link" aria-label="LinkedIn">
        <img src ="Images/icons/linkedin_logo.webp" alt = "LinkedIn Icon">
    </a>
    <!--X-->
    <a href = "https://x.com/Miao_Margaret_" class = "icon-link" aria-label="X">
        <img src ="Images/icons/X_logo.png" alt = "X Icon">
    </a>
    <!--Github-->
    <a href = "https://github.com/miaomargaret393" class = "icon-link" aria-label="GitHub">
        <img src ="Images/icons/github.png" alt = "GitHub Icon">
    </a>
  </div>
  <p class ="footer-copyright">&copy;2026 Margaret Miao</p>
</footer>

<script src="js/main.js"></script>
<script src="js/toggle.js" defer></script>
<script src="js/flip-card.js" defer></script>