<nav class="notepad-nav">
    <ul> 
        <li><a href="./index.html">Home</a></li>
        <li><a href="./about.html">About</a></li>
        <li>
            <a href="./projects.html">Projects</a>
            <button class="toggle-trigger nav-toggle" data-toggle-target="li" aria-label="Toggle Projects submenu" aria-expanded="false">▾</button>
            <ul class="sub-nav">
                <li><a href="projects.html#research">Research</a></li>
                <li><a href="projects.html#artistic">Artistic</a></li>
                <li><a href="projects.html#tinkering">Tinkering</a></li>
                <li><a href="projects.html#side-quests">Side Quests</a></li>
            </ul>
        </li>  
    <li>
      <a href="resume.html">Resume</a>
      <button class="toggle-trigger nav-toggle" data-toggle-target="li" aria-label="Toggle Projects submenu" aria-expanded="false">▾</button>
      <ul class="sub-nav">
        <li><a href="resume.html#leadership">Leadership</a></li>
        <li><a href="resume.html#work">Work</a></li>
        <li><a href="resume.html#awards">Awards</a></li>
      </ul>
    </li>

    <li><a href="fun-corner.html">Fun Corner</a></li>
    </ul>
</nav>