<div class="entry" data-tags="art">
      <button class="entry-toggle" aria-expanded="false">
        <span class="entry-title">FNAQ Initiation T-shirt Design</span>
        <span class="entry-date">1/2026</span>
        <span class="entry-icon">+</span>
      </button>
      <div class="entry-content">
        <div class="entry-content-inner">
          <div class="entry-tags">
            <span class="tag" data-tag="art">art</span>
          </div>

          <p>
            T-shirt design for the Five Night's at Quad initiation event. Ngl i cooked with this gng.
          </p>
          <img src="Images/projects_pictures/Art/Graphic_design/FNAQ.png" alt="FNAQ" class="entry-image entry-image--portrait">

            
          </div>
        </div>
      </div>
    </div>