<div class="entry" data-tags="art">
      <button class="entry-toggle" aria-expanded="false">
        <span class="entry-title">Apothecary Diaries - Maomao</span>
        <span class="entry-date">8/2025</span>
        <span class="entry-icon">+</span>
      </button>
      <div class="entry-content">
        <div class="entry-content-inner">
          <div class="entry-tags">
            <span class="tag" data-tag="art">art</span>
          </div>

          <p>
            <i>Apothecary Diaries</i> has me on chokehold. I love this series so much! Mao mao is one of my 
            favorite female characters in a while and i love her nonchalantness... until it comes to poison lol. 
            THis is my interpretation of what she would wear in our modern era.
          </p>
          <img src="Images/projects_pictures/Art/FanArt/Mao_mao.png" alt="Maomao Modern Fanart" class="entry-image entry-image--portrait">

            
          </div>
        </div>
      </div>
    </div>