<div class="entry" data-tags="movies">
            <button class="entry-toggle" aria-expanded="false">
                <span class="entry-title">Backrooms Review</span>
                <span class="entry-date">7/12/2026</span>
                <span class="entry-icon">+</span>
            </button>

            <div class="entry-content">
                <div class="entry-content-inner">
                    <div class="entry-tags">
                        <span class="tag" data-tag="movies">Movies</span>
                    </div>
                    <p>Backrooms movie was gas. I loved the set design, symbolism of the backrooms as a physical manifestation of unresolved memories.</p>
                    <img src="Images/backrooms.webp" alt="Backrooms Movie" class="entry-image">
                </div>
            </div>
        </div>