<h3 class="toggle-trigger" data-toggle-target="#research-description">Research Interests</h3>
      <div class="collapsible-content">
        <p> My research interests center on designing biomaterials and microarchitectures that guide cell behavior, support regeneration, and communicate with dynamic biological environments. 
        I am interested in combining nano-engineering with biomaterials to create platforms for drug testing, organ-on-chip models, and regenerative interfaces that reduce reliance on animal testing. 
        More broadly, I aim to link material design with clinical translation by developing systems that function reliably in real therapeutic and diagnostic settings.</p>
      </div>
</section>

<section id="Art-description" class="collapsible-section">
      <h3 class="toggle-trigger" data-toggle-target="#Art-description">Artistic Interests</h3>
      <div class="collapsible-content">
        <p> I primarily work with digital art nowadays, but I also enjoy traditional media (watercolor, oil painting, etc.) and sketching. </p>
      </div>
</section>

<section id="Tinkering-description" class="collapsible-section">
      <h3 class="toggle-trigger" data-toggle-target="#Tinkering-description">Tinkering Interests</h3>
      <div class="collapsible-content">
        <p> COMING SOON! I want to start building basic electronic projects and go into e-waste recycling and retro-fitted components. </p>
      </div>
</section>

<section id="Side-Quests-description" class="collapsible-section">
      <h3 class="toggle-trigger" data-toggle-target="#Side-Quests-description">Side Quests</h3>
      <div class="collapsible-content">
        <p> Life is too short for labels, so here are some other side projects I've worked or been working on!</p>
      </div>
</section>