<!--Junior Year Independent Work-->
 <div class="entry" data-tags="research">
      <button class="entry-toggle" aria-expanded="false">
        <span class="entry-title">Junior Year Independent Work</span>
        <span class="entry-date">5/2025</span>
        <span class="entry-icon">+</span>
      </button>
      <div class="entry-content">
        <div class="entry-content-inner">
          <div class="entry-tags">
            <span class="tag" data-tag="research">research</span>
          </div>

            <p>For my junior independent work, <i> Engineering Nano-printed Transdermal Microneedles and 3D MicromoldedSubstrates for Biomedical Applications</i>,
            I developed dissolvable transdermal microneedles using the Nanoscribe, exploring a minimally invasive drug-delivery method that punctures 
            only the outer epidermis while offering higher bioavailability than topical approaches. </p>
            
            <p>Working with both the Cohen and Toettcher Labs, I designed microneedle geometries for delivering an optogenetic drug in mice, 
            drawing inspiration from the mosquito proboscis to address the challenge of puncturing thin mouse skin. I troubleshot the fabrication process extensively, ultimately resolving PDMS-inhibition 
            issues caused by residual photo-initiators in the printed molds and establishing a reliable method for casting dissolvable microneedles. </p>


            <p>I also used these molds to study how cells migrate across steep curvatures, which sparked my interest in how geometry and mechanics regulate 
            cell behavior and later shaped my senior thesis. This project taught me to combine microfabrication, biomimicry, 
            and cell–material interaction studies to create functional platforms that better mimic physiological environments.</p>


            <p>Check out my Junior Year Independent Work below!</p>

            <a href="pdfs_attachments/MAE_IW_Spring_2025_Margaret_Miao.pdf" target="_blank" rel="noopener noreferrer" class="pdf-link">
              <img src="Images/projects_pictures/jy_iw_2025/first_page_IW.png" alt="View PDF">
              <span class="pdf-overlay">View</span>
            </a>

          <!--JY IW Gallery-->
          <div class="flip-grid">
            <!--first card-->
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="Images/projects_pictures/jy_iw_2025/Triangular_prism_shape.png" alt="SEM image of triangular prism microneedle.">
                </div>
                <div class="flip-card-back">
                  <p>SEM image of triangular prism microneedlearray.</p>
                  <a href="Images/projects_pictures/jy_iw_2025/Triangular_prism_shape.png" target="_blank" rel="noopener noreferrer" class="view-original">View full image</a>
                </div>
              </div>
            </div>
            
           <!--second card-->
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="Images/projects_pictures/jy_iw_2025/mosquito_array.png" alt="Bio-inspired mosquito proboscis microneedle array.">
                </div>
                <div class="flip-card-back">
                  <p> SEM image of bio-inspired mosquito proboscis microneedle array.</p>
                  <a href="Images/projects_pictures/jy_iw_2025/mosquito_array.png" target="_blank" rel="noopener noreferrer" class="view-original">View full image</a>
                </div>
              </div>
            </div>

          

          </div>


        </div>
      </div>
    </div>
